---
version: "3.4"
services:
  code-server:
    image: sqrlly/sqrlly_code:latest
    container_name: sqrlly_code
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Americas/Los_Angeles
      - PASSWORD=$CODE_PASSWORD
#       - SUDO_PASSWORD=$SUDO_PASSWORD
    volumes:
      - ./code-server/config:/config
    expose:
      - '8443'
    networks:
      - web
    labels:
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.code.frontend.rule=Host:code.sqrl.ly,code.badmath.org"
      - "traefik.code.port=443"
      - "traefik.code.protocol=http"
    restart: unless-stopped
  web:
    image: nginx
    restart: unless-stopped
    container_name: sqrlly_www
    volumes:
      - ./nginx/public:/usr/share/nginx/html
    expose:
      - '3000'
    networks:
      - web
    labels:
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.public.frontend.rule=Host:sqrl.ly"
      - "traefik.public.port=80"
      - "traefik.public.protocol=http"
  traefik:
    image: traefik:v1.7
    restart: always
    ports:
      - 80:80
      - 443:443
    networks:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik/traefik.toml:/traefik.toml
      - ./traefik/acme.json:/acme.json
    container_name: traefik
networks:
  web:
    external: true
   

