---
version: "2.1"
services:
  code-server:
    build: .
    # image: ghcr.io/linuxserver/code-server
    image: gcr.io/${PROJECT_ID}/${REPO_DEPLOYED}:latest
    container_name: code-server
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Americas/Los_Angeles
      - PASSWORD=$CODE_PASSWORD
      - SUDO_PASSWORD=$SUDO_PASSWORD
    volumes:
      - ./config:/config
    ports:
      - 8443:8443
    restart: unless-stopped
